ccoder/ccoder.xcodeproj/xcuserdata
ccoder/Build/Intermediates
ccoder/ccoder.xcodeproj/*
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ccoder/Build/Products/Debug/Billing.php
ccoder/Build/Products/Debug/ccoder
ccoder/Build/Products/Debug/Order.php
ccoder/Build/Products/Debug/OrderRepository.php
ccoder/Build/Products/Debug/OrderType.php
